<!DOCTYPE html>
<html>
    <head>
        <base href="{$base['request']->getBasePath()}/" />
        <!-- Meta tags -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="viewport" content="width=device-width" />
        <!-- Chrome, Firefox OS and Opera mobile address bar theming -->
        <meta name="theme-color" content="#000000">
        <!-- Windows Phone mobile address bar theming -->
        <meta name="msapplication-navbutton-color" content="#000000">
        <!-- iOS Safari mobile address bar theming -->
        <meta name="apple-mobile-web-app-status-bar-style" content="#000000">
        <!-- Fav and Title -->
        <link rel="icon" href="/images/favicon.jpg">
        <title>{$config->getTitle()} </title>
        {block styles}
        <link rel="stylesheet" href="{$assets->get('css/app.css')}">
        {/block}
        {if (strlen($_ENV['google_recaptcha_key']) > 5)}
            <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        {/if}
        <!-- Halfmoon -->
        <link href="https://cdn.jsdelivr.net/gh/halfmoonui/halfmoon@1.1.1/css/halfmoon.min.css" rel="stylesheet" />
        <!-- Google web fonts -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Font awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
              integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
        <!-- Roboto font (Used when Apple system fonts are not available) -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        <!-- Font Avensome -->
        <script src="https://kit.fontawesome.com/1fc2f55abf.js" crossorigin="anonymous"></script>
    </head>
    <body class="with-custom-webkit-scrollbars with-custom-css-scrollbars dark-mode" data-dm-shortcut-enabled="true"
          data-sidebar-shortcut-enabled="true" data-set-preferred-theme-onload="true">
        <!-- For right diplay of all modals - it must be put in this div-->
        <div id="modal_section"></div>
        <!-- Page wrapper start -->
        <div class="page-wrapper with-navbar with-sidebar" data-sidebar-type="full-height overlayed-sm-and-down"
             {if isset($hide_sidebar)} data-sidebar-hidden="hidden"{/if}>
            <!-- Sticky alerts (for toasts only) -->
            <div class="sticky-alerts">
            </div>
            <!-- Navbar start -->
            {include 'core/layout/bar/navbar.latte'}
            <!-- Navbar end -->
            <!-- Sidebar overlay -->
            <div class="sidebar-overlay" onclick="halfmoon.toggleSidebar()"></div>
            <!-- Sidebar start -->
            {include 'core/layout/bar/sidebar.latte'}
            <!-- Sidebar end -->
            <!-- Content wrapper start -->
            <div class="content-wrapper">
                {if $config->get('InfoBar', 'DB')}
                    {include 'core/layout/bar/infoBar.latte'}
                {/if}
                {if $base['admin']}
                    {include 'core/layout/bar/adminbar.latte'}
                {/if}
                {if $base['messages']}
                    {include 'core/layout/bar/messages.latte'}
                {/if}
                <div class="container-fluid">
                    {block content}{/block}
                </div>
                <!-- footer  -->
                {include 'core/layout/footer.latte'}
                <!-- END footer -->
            </div>
            <!-- Content wrapper end -->
        </div>
        <!-- Page wrapper end -->
        <!-- Halfmoon JS -->
        <script src="https://cdn.jsdelivr.net/gh/halfmoonui/halfmoon@1.1.1/js/halfmoon.min.js"></script>
        <script src="{$assets->get('js/app.js')}" />
        <script>var App;
                document.addEventListener("DOMContentLoaded", function () {
                    App = new JRCORE({$base['request']->getBasePath()});
                    App.Init();
                }
                );
        </script>
        {block javascript}
        {/block}

    </body>
</html>
