{foreach $menu->getSideBar() as $cat}
    <h5 class="sidebar-title">{_$cat['items'][0]-> category}</h5>
    <div class="sidebar-divider"></div>
    {foreach $cat['items'] as $item}
        <a href="{$item->url}"
           class="sidebar-link sidebar-link-with-icon
           {$item->is_active ? ' active ' : ''}">
            {if ($item->icon != null)}
                <span class="sidebar-icon">
                    <i class="{$item-> icon}" aria-hidden="true"></i>
                </span>
            {/if}
            {_$item->name}
        </a>
    {/foreach}
    <br />
{/foreach}
