<!-- Admin login bar -->
<div style="width: inherit; border: 3px solid black; background:#1a46e34a; height: auto; text-align: center;
     position: fixed; z-index: 9">
    <strong>AdminLogin</strong> active (<font color="red">User name: {$base['user']->getLoginName()}; id:
    {$base['user']->getInternalId()}</font>)
    Admin name: {$base['admin']->getLoginName()} <a href="login/admin/logback">End Admin session</a>
</div>
<!-- fix for correct display caused by fixed position-->
<div style="height:30px"></div>
<!-- END of admin login bar -->
