<!-- Messages -->
<div class = "container pl-20 pr-20 pt-10">
    {foreach $base['messages'] as $msg}
        <div class="alert my-10 alert-{$msg['color']} text-wrap" role="alert">
            <button class="close" data-dismiss="alert" type="button" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {if (isset($msg['head']))}
                <h4 class="alert-heading">{$msg['head']}</h4>
            {/if}
            {$msg['msg']}
            {if ($msg['url'] != null)}
                <a class="float-right" href="{$msg['url']}">{_"Go to"} {$msg['url']}</a>
            {/if}
        </div>
    {/foreach}
</div>
<!-- END of messages -->
