<!-- Navbar start -->
<nav class="navbar">
    <!-- Toogle Sidebar -->
    <div class="navbar-content">
        <button id="toggle-sidebar-btn" class="btn btn-action" type="button"
                onclick="halfmoon.toggleSidebar()" >
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
    </div>
    <!-- Notifications -->
    <div class="navbar-content">
        <div class="dropdown toggle-on-hover with-arrow" >
            <button class="btn btn-action" id="notifications_open"
                    {if (count($base['notifications']) > 0)}
                        data-count="{count($base['notifications'])}"
                    {/if}
                    data-toggle="dropdown" type="button"  aria-haspopup="true"
                    aria-expanded="false"
                    onclick="App.markNotificationsRead()"
                    >
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </button>
            <div class="dropdown-menu w-300 w-sm-450 overflow-auto "
                 style="max-height:75vh" >
                <div class="dropdown-content p-0">
                    {if (count($base['notifications']) > 0)}
                        {include 'core/layout/bar/navbar/notifications.latte'}
                    {else}
                        <span class="badge badge-secondary">
                            {_"Nothing to display :-)"}
                        </span>
                    {/if}
                </div>
            </div>
        </div>
    </div>
    <!-- END notifications -->
    <!--Ldap href-->
    <div class="navbar-content">
        <a class="btn btn-action" href="gateway/ldap" >
            <i class="fas fa-fingerprint" aria-hidden="true"></i>
        </a>
    </div>
    <!-- Toogle darkmode -->
    <div class="navbar-content">
        <button class="btn btn-action mr-5" type="button"
                onclick="halfmoon.toggleDarkMode()" >
            <i class="fa fa-moon-o" aria-hidden="true"></i>
        </button>
    </div>
    <!-- Navbar nav -->
    <ul class="navbar-nav ml-auto">
        {include 'core/layout/bar/navbar/navbar_menu.latte'}
        {if ($base['user']->isLoggedIn())}
            {include 'core/layout/bar/navbar/profile.latte'}
        {elseif (!$base['request']->startWith('login') && !$base['request']->startWith('user/register'))}
            {include 'core/layout/bar/navbar/login.latte'}
        {/if}
    </ul>
</nav>
<!-- Navbar end -->