<!-- Sidebar overlay -->
<div class="sidebar-overlay" onclick="halfmoon.toggleSidebar()"></div>
<!-- Sidebar start -->
<div class="sidebar">
    <div class="sidebar-menu">
        <div class="sidebar-content">
            <a href="dashBoard">
                <h3 class="sidebar-title">
                    {if $config->getLogo()}
                        <img src="{$config->getLogo()}" height="20px" alt="Icon">
                    {/if}
                    {$config->getTitle()}
                </h3>
            </a>
        </div>
        {include 'core/layout/bar/sidebar/menu.latte'}
    </div>
</div>
<!-- Sidebar end -->
