<br />
<div class="alert" role="alert">
    {include 'core/errors/messages.latte'}
    <p>{_"You can go back to any of these last pages"}:</p>
    <p>
        <span class="my-10">
            {_"Back to"} <a href="dashBoard">{_"Dashboard"}</a>
        </span>
        <br />
        {foreach $last_pages as $item}
            <span>
                {_"Back to"} <a href="{$item}">{$item}</a>
            </span>
            <br />
        {/foreach}
    </p>
</div>

