{layout 'core/layout/main.latte'}
{block content}
<div class="container-fluid">
    <div class="content">
        <h1 class="content-title font-size-22">
            <i class="fas fa-user"></i>
            {_"Departments overview"}
        </h1>
        <div class="card">
            {$new_form->renderAll()|noescape}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>{_"Id"}</th>
                            <th>{_"Name"}</th>
                            <th>{_"Code"}</th>
                            <th>{_"Members"}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $departments as $u}
                            <tr>
                                <th>
                                    <a href="admin/departments/{$u['id']}">
                                        {$u['id']}
                                    </a>
                                </th>

                                <td>{$u['name']}</td>
                                <td>{$u['code']}</td>

                                <td>
                                    <div class="dropdown dropright toggle-on-hover">
                                        <button class="btn btn-link" data-toggle="dropdown" type="button"  aria-haspopup="true" aria-expanded="false">
                                            {count($u['members'])}
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="...">
                                            {foreach $u['members'] as $m}
                                                {$m['login_name']} <small>({$m['nickname']})</small>
                                                {$m['avatar']!=null?"<img style=\"max-height: 20px\" src=\"" . $m['avatar'] . "\"
                                                                 class=\"img-fluid rounded-circle\" alt=\"Avatar\">" : "" |noescape}

                                                <br>
                                            {/foreach}
                                        </div>
                                    </div>
                                </td>

                            </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{/block}
