{layout 'core/layout/main.latte'}
{block content}
<div class="container-fluid">
    <div class="content">
        <h1 class="content-title font-size-22">
            <i class="fas fa-user"></i>
            {_"Department overview"}
        </h1>
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <h2 class="card-title">
                        {_"Info"}
                    </h2>
                    {$dep_form->renderAll()|noescape}
                </div>
            </div>
            <div class="col-md-7">
                <div class="card">
                    <h2 class="card-title">
                        {_"Users In"}
                        {if ($can_manage_members)}
                            <button onclick="halfmoon.toggleModal('invite_member')"
                                    class="btn btn-sm btn-primary float-right mx-10">
                                {_"Invite user"}
                            </button>

                            <button onclick="halfmoon.toggleModal('new_member')"
                                    class="btn btn-sm btn-primary float-right mx-10">
                                {_"Create new user"}
                            </button>
                        {/if}
                    </h2>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>{_"Login_name"}</th>
                                    <td></td>
                                    <th>{_"Nickname"}</th>
                                    <th>{_"Main role"}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {foreach $users_in as $key => $usr}
                                    <tr class="
                                        {if ($usr['internal_id'] < 10)}
                                            text-secondary
                                        {/if}
                                        {if ($usr['disabled'] == 1)}
                                            table-secondary
                                        {/if}
                                        {if ($usr['main_role'] > 8)}
                                            text-primary
                                        {/if}
                                        {if ($usr['banned'])}
                                            table-danger
                                        {/if}
                                        ">
                                        <td
                                            {if ($usr['internal_id'] < 10 ||
                                    $usr['disabled'] == 1 ||
                                    $usr['main_role'] > 8 ||
                                   $usr['banned'])}
                                            data-toggle="tooltip" data-title="
                                            {/if}
                                                {if ($usr['internal_id'] < 10)}
                                                    {_"System account"}
                                                {/if}
                                                {if ($usr['disabled'] == 1)}
                                                    {_"Account disabled"}
                                                {/if}
                                                {if ($usr['main_role'] > 8)}
                                                    {_"Developer account"}
                                                {/if}
                                                {if ($usr['banned'])}
                                                    {_"User have BAN"}
                                                {/if}
                                                ">
                                                {$usr['login_name']}
                                            </td>
                                            <td>
                                                {$usr['avatar']!=null?"<img style=\"max-height: 40px\" src=\"" . $usr['avatar'] . "\"
                                                                 class=\"img-fluid rounded-circle\" alt=\"Avatar\">" : "" |noescape}
                                            </td>
                                            <td>{$usr['nickname']}</td>
                                            <td>{_$admin_levels[$usr['role']]}</td>
                                            {if ($can_manage_members && false)}
                                                <td>
                                                    <form method="POST"
                                                          action="admin/departments/{$department['id']}/remove-user"
                                                          >
                                                        <input type="hidden" name="csrf" value="{$csrf}">
                                                        <input type="hidden" name="user_id" value="{$usr['internal_id']}">
                                                        <input class="btn btn-sm btn-danger" type="submit" value="&times;">
                                                    </form>
                                                </td>
                                            {/if}
                                        </tr>
                                        {/foreach}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {if (count($invitations)> 0)}
                <div class="col-md-12">
                    <div class="card">
                        <h2 class="card-title">
                            {_"Invitations"}
                        </h2>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>{_"Invited user"}</th>
                                        <td></td>
                                        <th>{_"Role"}</th>
                                        <th>{_"State"}</th>
                                        <th>{_"Invited by"}</th>
                                        <th></th>
                                        <th>{_"Created"}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {foreach $invitations as $key => $usr}
                                        <tr>
                                            <td
                                                {if ($usr['internal_id'] < 10 ||
                                    $usr['disabled'] == 1 ||
                                    $usr['main_role'] > 8 ||
                                   $usr['banned'])}
                                                data-toggle="tooltip" data-title="
                                                {/if}
                                                    {if ($usr['internal_id'] < 10)}
                                                        {_"System account"}
                                                    {/if}
                                                    {if ($usr['disabled'] == 1)}
                                                        {_"Account disabled"}
                                                    {/if}
                                                    {if ($usr['main_role'] > 8)}
                                                        {_"Developer account"}
                                                    {/if}
                                                    {if ($usr['banned'])}
                                                        {_"User have BAN"}
                                                    {/if}
                                                    ">
                                                    {$usr['login_name']} ({$usr['nickname']})
                                                </td>
                                                <td>
                                                    {$usr['avatar']!=null?"<img style=\"max-height: 40px\" src=\"" . $usr['avatar'] . "\"
                                                                 class=\"img-fluid rounded-circle\" alt=\"Avatar\">" : "" |noescape}
                                                </td>
                                                <td>
                                                    <span class="badge
                                                          {if (in_array($usr['role'], [4]))}
                                                              badge-secondary
                                                          {/if}
                                                          {if (in_array($usr['role'], [5,6,7,8]))}
                                                              badge-primary
                                                          {/if}
                                                          {if (in_array($usr['role'], [0,1,2,3]))}
                                                              badge-success
                                                          {/if}
                                                          {if ($usr['role'] > 8)}
                                                              badge-danger
                                                          {/if}">
                                                        <strong>{_$admin_levels[$usr['role']]}</strong>
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="badge
                                                          {if ($usr['state'] == 'pending')}
                                                              badge-secondary
                                                          {/if}
                                                          {if ($usr['state'] == 'accepted')}
                                                              badge-success
                                                          {/if}
                                                          {if ($usr['state'] == 'decelined')}
                                                              badge-danger
                                                          {/if}">
                                                        <strong>{_$usr['state']}</strong>
                                                    </span>
                                                </td>
                                                <td>{$usr['admin_login_name']} ({$usr['admin_nickname']})
                                                </td>
                                                <td>
                                                    {$usr['admin_avatar']!=null?"<img style=\"max-height: 40px\" src=\"" . $usr['admin_avatar'] . "\"
                                                                 class=\"img-fluid rounded-circle\" alt=\"Avatar\">" : "" |noescape}
                                                </td>
                                                <td
                                                    data-toggle="tooltip"
                                                    data-title="{$usr['created']|date:'Y-m-d H:i:s'}">
                                                    {$usr['created']|timeAgo}
                                                </td>
                                                {if ($can_manage_members && $usr['state'] == 'pending')}
                                                    <td data-toggle="tooltip"
                                                        data-title="Delete invitation"
                                                        >
                                                        <form method="POST"
                                                              action="admin/departments/{$department['id']}/withdraw-invitation/{$usr['id']}"
                                                              >
                                                            <input type="hidden" name="csrf" value="{$csrf}">
                                                            <input type="hidden" name="user_id" value="{$usr['internal_id']}">
                                                            <input
                                                                class="btn btn-sm btn-danger"
                                                                type="submit" value="&times;">
                                                        </form>
                                                    </td>
                                                {/if}
                                            </tr>
                                            {/foreach}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {/if}
                    <div class="modal" id="invite_member" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button onclick="halfmoon.toggleModal('invite_member')"
                                        class="close" role="button" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h5 class="modal-title">{_"Invite user to department"}</h5>
                                <p>
                                    {$invite_form->renderAll()|noescape}
                                </p>
                                <div class="text-right mt-20"> <!-- text-right = text-align: right, mt-20 = margin-top: 2rem (20px) -->
                                    <button onclick="halfmoon.toggleModal('invite_member')"
                                            class="btn mr-5" role="button">{_"Close"}</button>
                                    <button onclick="document.getElementById
                                                    ('invite-to-dep').submit();"
                                            class="btn btn-success"
                                            role="button">{_"Invite"}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal" id="new_member" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button onclick="halfmoon.toggleModal('new_member')"
                                        class="close" role="button" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h5 class="modal-title">{_"Create new user in this department"}</h5>
                                <p>
                                    {$crate_user_form->renderAll()|noescape}
                                </p>
                                <div class="text-right mt-20"> <!-- text-right = text-align: right, mt-20 = margin-top: 2rem (20px) -->
                                    <button onclick="halfmoon.toggleModal('new_member')"
                                            class="btn mr-5" role="button">{_"Close"}</button>
                                    <button onclick="document.getElementById('new-user-dep').submit();"
                                            class="btn btn-success"
                                            role="button">{_"Create"}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {/block}
