{layout 'core/layout/main.latte'}
{block title}My profile{/block}
{block content}
<div class="container-fluid">
    <div class="content">
        <h1 class="content-title font-size-22">
            <i class="fas fa-user"></i>
            {_"My profile"}
        </h1>
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <h2 class="card-title">
                        <i class="fas fa-user-edit"></i>
                        {_"User informations"}
                    </h2>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="user_id"><strong>{_"User id"}:</strong></label>
                                <input type="number" class="form-control"
                                       id="user_id" disabled
                                       value="{$user['internal_id']}">
                            </div>
                            <div class="form-group">
                                <label for="user_portal_id"><strong>
                                        {_"User portal id"}:</strong></label>
                                <input type="number" class="form-control"
                                       id="user_portal_id" disabled
                                       value="{$user['portal_id']}">
                            </div>
                        </div>
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <strong>{_"Avatar"}:</strong>
                            {if ($user['origin'] != 'local')}
                                <form method="POST" class="text-right">
                                    <input type="hidden" name="csrf" value="{$csrf}">
                                    <input type="hidden" name="action" value="remove-avatar">
                                    <button onclick="this.submit()" class="close btn btn-link text-danger" role="button" aria-label="Close">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </form>
                            {/if}
                            <img
                                src="{$user['avatar']==''
                                        ?$assets->get('images/No_image_available.png')
                                        :$user['avatar']}"
                                class="img-fluid m-10 pr-20" alt="User avatar">
                        </div>
                    </div>
                    {if ($user['origin'] != 'local')}
                        <span class="badge">
                            {_"Personal info can be changed only on portal!"}
                        </span>
                    {/if}
                    {$user_form->renderAll()|noescape}
                </div>
                {if ($user['origin'] == 'local')}
                    <div class="card">
                        <h2 class="card-title">
                            <i class="fas fa-user-edit"></i>
                            {_"Personal informations"}
                        </h2>
                        {$user_data_form->renderAll()|noescape}
                    </div>
                {/if}
            </div>

            <div class="col-lg-6">
                {if (count($invitations)>0)}

                    <div class="alert" role="alert">
                        <h4 class="alert-heading">{_"You have been invited to join additional department"}</h4>
                        <p>{_"You have recieved an invite to join additional department. Please be aware that by accepting an invite, you are allowing heads of the department to view your personal information and manage your account."}
                        </p>
                        {$invitation_form->renderAll()|noescape}
                        {foreach $invitations as $inv}
                            <div class="alert my-10" role="alert">
                                {$inv['login_name']} <small>({$inv['nickname']})</small>
                                {_" has invite you to join "}
                                <strong>{$inv['name']}</strong> <small>({$inv['code']})</small>
                                {_" department as "}
                                {_$admin_levels[$inv['role']]}
                                <div class='text-right'>
                                    <span class="badge badge-success mt-10-10 mx-5" style='cursor:pointer;'
                                          onclick="App.procceddInvitation({$inv['id']}, 'accept')">
                                        {_"Accept"}
                                    </span>
                                    <span class="badge badge-danger mt-10 mx-5" style='cursor:pointer;'
                                          onclick="App.procceddInvitation({$inv['id']}, 'deceline')">
                                        {_"Deceline"}
                                    </span>
                                </div>
                            </div>
                        {/foreach}
                    </div>

                {/if}
                <div class="card">
                    <h2 class="card-title">
                        <i class="fas fa-sliders-h"></i>
                        {_"Your departments"}
                        <span class="float-right"><button class="btn-sm btn btn-primary"onclick="halfmoon.toggleModal('heads')" id="view_heads">{_"View heads"}</button></span>
                    </h2>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                                {foreach $departments as $dep}
                                    <tr>
                                        <td>
                                            <strong>{$dep['name'] }</strong>
                                            <small>({$dep['code'] })</small>

                                        </td>
                                        <td>
                                            {_$admin_levels[$dep['role']] }
                                        </td>
                                    </tr>
                                {/foreach }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card">
                    <h2 class="card-title">
                        <i class="fas fa-list"></i>
                        {_"Actions"}
                    </h2>
                    {if ($base['user']->rights->can('rights', 'change_password', false))}
                        <button class="btn btn-primary btn-sm"
                                onclick="halfmoon.toggleModal('change-password')">
                            <i class="fas fa-key" aria-hidden="true"></i>
                            {_"Change password"}
                        </button>
                    {/if }
                    {if ($user['portal_id'] > 9)}
                        <a href="user/profile/logout-everywhere"
                           class="btn btn-danger btn-sm">
                            <i class="fas fa-eraser"></i>
                            {_"Log out from all apps"}
                        </a>
                    {/if}
                </div>
                <div class="card">
                    <h2 class="card-title">
                        <i class="fas fa-sliders-h"></i>
                        {_"My rights"}
                    </h2>
                    <div class="form-group">
                        <label class="label"><strong>{_"My main role"}:</strong></label>
                        <select class="form-control" id="main_role"
                                disabled
                                name="main_role">
                            <option>{_$admin_levels[$user['main_role']]}</option>
                        </select>
                    </div>
                    <br />
                    {if ($base['user']->rights->can('rights', 'my_rights', false))}
                        {foreach $rights as $key => $cat}
                            <label class="checkbox" >
                                <strong>{$key}:</strong>
                                <label class="checkbox" n:foreach="$cat as $r"
                                       data-toggle="tooltip"
                                       data-title="{$r['right_description']}">
                                    <input type="checkbox"
                                           {$r['right_value']?"checked":""}
                                           name="right::{$key}::{$r['right_action']}">
                                    {$r['right_action']}
                                </label>
                            </label>
                            <br />
                        {/foreach}
                        <span class="badge">{_"Do you thing that you don´t have right that you need? Ask your supervisor/admin/developer!"}</span>
                    {/if}
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <h2 class="card-title">
                    <i class="fas fa-user-secret"></i>
                    {_"Active sessions"}
                </h2>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{_"Action"}</th>
                                <th>{_"Token"}</th>
                                <th>{_"Expire"}</th>
                                <th>{_"Created"}</th>
                                <th>{_"Type"}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr n:foreach="$sessions as $sess">
                                {continueIf ($sess['type'] == 'admin')}

                                <td>
                                    <a href="user/profile/kill-session/{$sess['id']}">
                                        {_"Kill session"}
                                    </a>
                                </td>
                                <td>
                                    {$sess['token']|truncate:10}
                                </td>
                                <td
                                    data-toggle="tooltip"
                                    data-title="{$sess['expire']|date:'Y-m-d H:i:s'}">
                                    {$sess['expire']|date:'Y-m-d H:i:s'|timeAgo}
                                </td>
                                <td
                                    data-toggle="tooltip"
                                    data-title="{$sess['created']|date:'Y-m-d H:i:s'}">
                                    {$sess['created']|timeAgo}
                                </td>
                                <td>{$sess['type']}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <span class="badge">{_"Here you can see your active sessions."}</span>
                <span class="badge badge-primary">{_"Any suspicious session? Contact admin imidiatelly!"}</span>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <h2 class="card-title">
                    <i class="fas fa-user-secret"></i>
                    {_"Push devices"}
                </h2>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{_"Device id"}</th>
                                <th>{_"Added"}</th>
                                <th>{_"Updated"}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr n:foreach="$push_devices as $sess">
                                <td>
                                    {$sess['device_id']|truncate:10}
                                </td>
                                <td
                                    data-toggle="tooltip"
                                    data-title="{$sess['created']|date:'Y-m-d H:i:s'}">
                                    {$sess['created']|date:'Y-m-d H:i:s'|timeAgo}
                                </td>
                                <td
                                    data-toggle="tooltip"
                                    data-title="{$sess['updated']|date:'Y-m-d H:i:s'}">
                                    {$sess['updated']|timeAgo}
                                </td>
                                <td>{$sess['device_os']}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <span class="badge">{_"If you want remove device from subscribing, use bell on right side of page. It will stay in this table for some days after removing"}</span>
                <span class="badge badge-primary">{_"Any suspicious device? Contact admin imidiatelly!"}</span>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="heads" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="
             min-width: 40vw;
             ">
            <button class="close" data-dismiss="modal" type="button" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h5 class="modal-title">Department heads</h5>
            {if ($user['origin'] != 'local') }
                <span class="badge badge-secondary">
                    {_"This list may be diferent from one in ldap. Use list in ldap to view all heads and admins."}
                </span>
            {/if}
            {if (count($heads['heads'])>0)}
                <p>
                    {_"The following users are heads of departments that you are in. They have access to view and change your profile data and they can change your apps rights for departments that they control. Also they can reset your password." }
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <tbody>
                            {foreach $heads['heads'] as $usr}
                                <tr>
                                    <td>{$usr['login_name']} ({$usr['nickname']})</td>
                                    <td>{$admin_levels[$usr['role']]}</td>
                                    <td>{$usr['name']} ({$usr['code']})</td>
                                </tr>
                            {/foreach}
                        </tbody>
                    </table>
                </div>
                </p>
            {/if}
            {if (count($heads['admins'])>0)}
                <p>
                    {_"The following users are admins of departments that you are in. They have access to view and change your rights for departments that they control. " }
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <tbody>
                            {foreach $heads['admins'] as $usr}
                                <tr>
                                    <td>{$usr['login_name']} ({$usr['nickname']})</td>
                                    <td>{_$admin_levels[$usr['role']]}</td>
                                    <td>{$usr['name']} ({$usr['code']})</td>
                                </tr>
                            {/foreach}
                            {foreach $heads['devs'] as $usr}
                                <tr>
                                    <td>{$usr['login_name']} ({$usr['nickname']})</td>
                                    <td>{_$admin_levels[$usr['role']]}</td>
                                    <td>{$usr['name']} ({$usr['code']})</td>
                                </tr>
                            {/foreach}
                        </tbody>
                    </table>
                </div>
                </p>
            {/if}
            {if (count($heads['devs_head'])>0 || $heads['right'])}
                <p>
                    {_"In addition to this, some users have full access to your data for operational purposes." }
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <tbody>
                            {foreach $heads['devs_head'] as $usr}
                                <tr>
                                    <td>{$usr['login_name']} ({$usr['nickname']})</td>
                                    <td>{_$admin_levels[$usr['role']]}</td>
                                    <td>{$usr['name']} ({$usr['code']})</td>
                                </tr>
                            {/foreach}
                            {foreach $heads['right'] as $usr}
                                <tr>
                                    <td>{$usr['login_name']} ({$usr['nickname']})</td>
                                    <td>{_"Responsible staff for app"}</td>
                                </tr>
                            {/foreach}
                        </tbody>
                    </table>
                </div>
                </p>
            {/if}
        </div>
    </div>
</div>
<div class="modal" id="change-password"
     tabindex="-1" role="dialog"
     data-overlay-dismissal-disabled="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button class="close" data-dismiss="modal"
                    type="button" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h5 class="modal-title">{_"Change password"}</h5>
            <p>
            <form action="user/profile/change-password"
                  method="POST">
                <div class="form-group">
                    <label for="password-again"
                           class="required">
                        {_"Password"}</label>
                    <input type="password"
                           name="password-again"
                           class="form-control"
                           placeholder="Password"
                           required="required">
                </div>
                <div class="form-group">
                    <label for="password"
                           class="required">
                        {_"Password again"}</label>
                    <input type="password"
                           name="password"
                           class="form-control"
                           placeholder="Password"
                           required="required">
                </div>
                </p>
                <div class="text-right mt-20">
                    <button class="btn mr-5"
                            data-dismiss="modal"
                            type="button">{_"Close"}</button>
                    <input type="submit"
                           class="btn btn-success"
                           data-dismiss="modal"
                           type="button"
                           value="{_"Confirm"}"/>
            </form>
        </div>
    </div>
</div>
{/block}
{block javascript}
{if (strlen($config->get('oneSignalAppID'))>10) && $base['admin'] == null}
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
                                    document.addEventListener("DOMContentLoaded", function (event) {
                                        window.OneSignal = window.OneSignal || [];
                                        OneSignal.push(function () {
                                            OneSignal.init({
                                                appId: {$config->get('oneSignalAppID')},
                                            });
                                        });
                                        OneSignal.push(function () {
                                            OneSignal.on('subscriptionChange', function (isSubscribed) {
                                                if (isSubscribed) {
                                                    // The user is subscribed
                                                    //   Either the user subscribed for the first time
                                                    //   Or the user was subscribed -> unsubscribed -> subscribed
                                                    OneSignal.getUserId(function (userId) {
                                                        setUserPUSHdevice(userId);
                                                    });
                                                }
                                            });
                                            OneSignal.sendTags({
                                                user_id: {$user['internal_id']},
                                                admin_level: {$user['main_role']}
                                            });
                                            OneSignal.getUserId(function (userId) {
                                                setUserPUSHdevice(userId);
                                            });
                                        });
                                        function setUserPUSHdevice(user_id) {
                                            App.sendPOST("api/core/v1/set/user/push_device", "device_id=" + user_id);
                                        }
                                    });
    </script>
{/if}
{/block}

