{layout 'core/layout/main.latte'}
{block title}Register new account{/block}
{block content}
<div class="d-flex justify-content-center">
    <div class="card" style="
         min-width: 30vw;
         ">
        <h2 class="card-title">
            {_"Register form"}
        </h2>

        {$form->renderAll()|noescape}


        </div>
    </div>

    {/block}
