<!--Menu dynamic section -->
{foreach $menu->getNavBar() as $cat}
    <li class="nav-item hidden-sm-and-down dropdown with-arrow toggle-on-hover
        {$cat['active'] ? ' active ' : ''}
        ">
        <a class="nav-link" data-toggle="dropdown" id="nav-link-dropdown-toggle ">
            {_$cat['items'][0]->category}
            <i class="fa fa-angle-down ml-5" aria-hidden="true"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="nav-link-dropdown-toggle">
            {foreach $cat['items'] as $item}
                <a href="{$item->url}" class="dropdown-item
                   {$item->is_active ? ' text-primary ' : ''}">
                    {_$item->name}
                </a>
            {/foreach}
        </div>
    </li>
{/foreach}
<!-- END of dynamic menu section -->
