{foreach $base['notifications'] as $notif}
    <div class="alert alert-{$notif['color']}  w-550 mw-full mb-5" style="
         padding-bottom: 0;
         padding-top: 0;
         " role="alert">
        {if ($notif['new'])}
            <div class="position-relative"> <!-- position-relative = position: relative -->
                <div class="position-absolute" style="right:25px"> <!-- position-absolute = position: absolute, bottom-0 = bottom: 0, bottom-sm-auto = bottom: auto only on small screens and up (> 576px), top-sm-0 = top: 0 only on small screens and up (> 576px), right-0 = right: 0 -->
                    <span class="badge">NEW</span>
                </div>
            </div>
        {/if}
        <div class="position-absolute top-0 font-size-10"> <!-- position-absolute = position: absolute, bottom-0 = bottom: 0, bottom-sm-auto = bottom: auto only on small screens and up (> 576px), top-sm-0 = top: 0 only on small screens and up (> 576px), right-0 = right: 0 -->
            <span class="badge"
                  data-toggle="tooltip"
                  data-title="{$notif['created']|date:'Y-m-d H:i:s'}">
                {$notif['created']|timeago}</span>
        </div>
        <div class="position-absolute bottom-0  font-size-10"> <!-- position-absolute = position: absolute, bottom-0 = bottom: 0, bottom-sm-auto = bottom: auto only on small screens and up (> 576px), top-sm-0 = top: 0 only on small screens and up (> 576px), right-0 = right: 0 -->
            <span class="badge">{_"From"} {$notif['login_name']}</span>
        </div>
        <div class="position-absolute bottom-0 right-0">
            {if ($notif['type'] == "department_invitation")}
                <a href="user/profile" class="btn btn-sm">{_"Check"}</a>
            {else}
                {if ($notif['link'])}
                    <a href="{$notif['link']}" class="btn btn-sm">{_"Go to"}</a>
                {/if}
            {/if}
        </div>
        <div class="position-absolute top-0 right-0"> <!-- position-absolute = position: absolute, bottom-0 = bottom: 0, bottom-sm-auto = bottom: auto only on small screens and up (> 576px), top-sm-0 = top: 0 only on small screens and up (> 576px), right-0 = right: 0 -->
            <button class="btn btn-sm"
                    onclick="App.deleteNotification(this, {$notif['id']})"
                    ><i class="fas fa-trash-alt"></i></button>
        </div>
        <div class="row align-items-center">
            <div class="col-2">


            </div>
            <div class="col-8 offset-1 py-10">
                <h4 class="alert-heading">

                    {if ($notif['type'] == "custom")}
                        {$notif['head']}
                    {else}
                        {$notif['head']}
                    {/if}

                </h4>
                {if ($notif['type'] == "department_invitation")}
                    <strong>{$notif['login_name']|firstUpper}</strong>
                    {_"invited you to join additional department"}
                {elseif ($notif['type'] == "department_invitation_accept")}
                    <strong>{$notif['login_name']|firstUpper}</strong>
                    {_"accepted your department invitation"}
                {elseif ($notif['type'] == "department_invitation_deceline")}
                    <strong>{$notif['login_name']|firstUpper}</strong>
                    {_"decelined your department invitation"}
                {elseif ($notif['type'] == "custom")}
                    {$notif['content']}
                {else}
                    {_$notif['content']}
                {/if}
            </div>
        </div>
    </div>
{/foreach}
