<!--Profile section -->
<li class="nav-item dropdown toggle-on-hover with-arrow">
    <a class="nav-link" data-toggle="dropdown" type="button"
       id="sign-in-dropdown-toggle-btn" aria-haspopup="true" aria-expanded="false">
        <img style="max-height: 40px"
             src="{$base['user']->getAvatar()==''
?$assets->get('images/No_image_available.png')
:$base['user']->getAvatar()}"
             class="img-fluid rounded-circle m-10" alt="rounded right image">
        {$base['user']->getLoginName()}
        <i class="fa fa-angle-down ml-5" aria-hidden="true"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right w-250 w-sm-350 overflow-auto "
         style="max-height:65vh" aria-labelledby="sign-in-dropdown-toggle-btn">
        <div class="dropdown-content p-20">

            <p><strong>{_"User nickname"}:</strong> {$base['user']->getNickName()}</p>
            <p><strong>{_"User mail"}: </strong>{$base['user']->getMail()}</p>
            <p><strong>{_"Main role"}: </strong>{_$admin_levels[$base['user']->getRole()]}
            <div class="text-right mt-10">
                <a href="user/profile">{_"Change profile"}</a>
            </div>

        </div>
        <div class="dropdown-divider"></div>
        <a href="user/logout" class=" m-5 btn btn-danger  float-right">
            {_"navbar.profile.button|*Log out"}</a>
    </div>
</li>
<!-- END of profile section -->
