{layout 'core/layout/main.latte'}
{block content}
<div class="card">
    <h2 class="card-title">
        {_"Mail tool"}
    </h2>
    <p>
        {$search_form->renderAll()|noescape}
    </p>
    <span class="badge">{_"Maximum results is"} {$base['request']->getLimit()}</span>
    <span class="badge">{_"Found"} {$results[0]} {_"records"}</span>
    <div class="table-responsive">
        <table class="table table-inner-bordered">
            <thead>
                <tr>
                    <th>{_"Queued at"}</th>
                    <th>{_"Sended at"}</th>
                    <th>{_"User"}</th>
                    <th>{_"Status"}</th>
                        {if ($base['user']->getRole()>3)}
                        <th>{_"Subject"}</th>
                        {/if}
                </tr>
            </thead>
            <tbody>
                {foreach $results[1] as $log}
                    <tr>
                        <th>{$log['send_at']}</th>
                        <td>{$log['sent']}</td>
                        <td>{$log['login_name']}
                            <small>({$log['nickname']}) </small>
                            {$log['avatar']!=null?"<img style=\"max-height: 30px\" src=\"" . $log['avatar'] . "\"
                                                                 class=\"img-fluid rounded-circle\" alt=\"Avatar\">" : "" |noescape}
                        </td>
                        <td>{$log['status']}</td>
                        {if ($base['user']->getRole()>3)}
                            <td>{$log['subject']}</td>
                        {/if}
                    </tr>
                {/foreach}
            </tbody>
        </table>
    </div>
</div>

{/block}
