{layout 'core/layout/main.latte'}
{block content}
<div class="content">
    <h2 class="content-title">
        {_"Cron deamon overview"}
    </h2>
    {if ($is_cron_enabled)}
        <span class="badge badge-success">{_"Cron deamon is running"}</span>
    {else}
        <span class="badge badge-danger">{_"Cron deamon is restricted to high priority tasks! Others may not be completed!"}</span>
    {/if}
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <h2 class="card-title">
                    {_"Next 20 sheduled task"}
                </h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>{_"Name"}</th>
                                <th>{_"Id"}</th>
                                <th>{_"Priority"}</th>
                                <th>{_"Due date"}</th>
                                <th>{_"Queued by"}</th>

                            </tr>
                        </thead>
                        <tbody>
                            {foreach $next_tasks as $u}
                                <tr class="{strtotime($u['due']) < time() ? "table-danger" : ""}">
                                    <th>
                                        <a href="tech-admin/deamon/queue/{$u['q_id']}">
                                            {$u['name']}
                                        </a>
                                    </th>
                                    <td><a href="tech-admin/deamon/task/{$u['id']}">
                                            {$u['id']}
                                        </a>
                                    </td>
                                    <td>{$u['priority']}</td>
                                    <td>{$u['due']}</td>
                                    <td>
                                        {($u['avatar']!=null?"<img style=\"max-height: 30px\" src=\"" . $u['avatar'] . "\"
                                                                   class=\"img-fluid rounded-circle\" alt=\"Avatar\">" : "")|noescape}
                                        <a href="admin/{$u['internal_id']}">{$u['login_name']}</a>
                                        <small>({$u['nickname']})</small>
                                    </td>

                                </tr>
                            {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <h2 class="card-title">
                    {_"Available tasks"}
                </h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>{_"Name"}</th>
                                <th>{_"Priority"}</th>
                                <th>{_"Repeat"}</th>
                                <th>{_"Est. lengt"}</th>

                            </tr>
                        </thead>
                        <tbody>
                            {foreach $all_tasks as $u}
                                <tr class="{$u['enabled'] ? "" : "table-danger"}">
                                    <th>
                                        <a href="tech-admin/deamon/task/{$u['id']}">
                                            {$u['name']}
                                        </a>
                                    </th>
                                    <td>{$u['default_priority']}</td>
                                    <td>{$u['auto_repeat']}</td>
                                    <td>{$u['long']}</td>
                                </tr>
                            {/foreach}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <h2 class="card-title">
                    {_"Last tasks"}
                </h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>{_"Name"}</th>
                                <th>{_"Task id"}</th>
                                <th>{_"Status"}</th>
                                <th>{_"Due"}</th>
                                <th>{_"Priority"}</th>
                                <th>{_"Queued by"}</th>
                                <th>{_"Completed"}</th>
                                <th>{_"in [ms]"}</th>
                                <th>{_"Message"}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {foreach $past_tasks as $u}
                                <tr>
                                    <th>
                                        <a href="tech-admin/deamon/queue/{$u['q_id']}">
                                            {$u['name']}
                                        </a>
                                    </th>
                                    <td><a href="tech-admin/deamon/task/{$u['id']}">
                                            {$u['id']}
                                        </a></td>

                                    <td class="
                                        {if ($u['status'] == "running")}
                                            text-primary
                                        {elseif ($u['status'] == "completed")}
                                            text-success
                                        {elseif ($u['status'] == "error")}
                                            text-danger
                                        {elseif ($u['status'] == "pending")}
                                            text-secondary
                                        {/if}
                                        ">{$u['status']}</td>
                                    <td>{$u['due']}</td>
                                    <td>{$u['priority']}</td>
                                    <td>
                                        {($u['avatar'] != null ? "<img style=\"max-height: 30px\" src=\"" . $u['avatar'] . "\"
                                                                       class=\"rounded-circle\" alt=\"Avatar\">" : "") |noescape }
                                        <a href="admin/{$u['internal_id']}">{$u['login_name']}</a>
                                        <small>({$u['nickname']})</small>
                                    </td>
                                    <td>{$u['completed']}</td>
                                    <td class="
                                        {if ($u['elapsed_time'] > 0.05)}
                                            text-danger
                                        {elseif ($u['elapsed_time'] > 0.02)}
                                            text-secondary
                                        {elseif ($u['elapsed_time'] > 0.007)}
                                            text-primary
                                        {/if}
                                        ">{$u['elapsed_time']*1000}</td>
                                    {if ($base['user']->getRole()>4)}
                                        <td>{json_decode($u['message'], true)}</td>
                                    {/if}
                                </tr>
                            {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

