{layout 'core/layout/main.latte'}
{block title}{_"Password restore"}{/block}
{block content}
<div class="d-flex justify-content-center">
    <div class="card" style="
         min-width: 30vw;
         ">
        <h2 class="card-title">
            {_"Password restore for user"}: {$user_name}
        </h2>
        <p>
            {$pass_form->renderAll()|noescape}
        </p>
    </div>
</div>
{/block}
